.label {
  display: flex;
}

.title {
  color: #000;
  line-height: 40px;
  margin-left: 10px;
  flex:0 0 auto;
}

.tagBox {
  /* ddf */
}

.box {
  width: auto;
  height: 20px;
  border: 1px solid #000;
  color: rgba(0,0,0.85);
  font-weight: 500;
  border-radius: 4px;
  display: inline-block;
  margin: 10px 10px;
}
